ul {
    list-style: none;
    padding-inline-start: 0px;
}

h1 {
    margin-top: 0;
    font-size: 46px;
}

.wrapper {
    display: flex;
    margin: auto;

    width: 900px;
    
    background-color: gray;
}

.leftbar {
    width: 40%;
    padding: 30px;

    background-color: rgb(200, 219, 245);
}

.main {
    width: 60%;
        padding: 30px;
    background-color: rgb(239, 239, 239);
}
.photo {
    text-align: center;
}